<!DOCTYPE html>
<html>
  <body>
    <h2>Guess my color</h2>
    <form method="POST" action="http://localhost:9292/color">
      <input type="text" name="color" size="30" x-webkit-speech oninput="this.form.submit()"/>
    </form>
  </body>
</html>
